@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeY {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: #e0f7fa;
  color: #111;
}

.headkece {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 100%;
  height: 8%;
  padding: 9px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', Sans-Serif;
  animation: fade 1s ease-out forwards;
}

.sambutan {
  font-family: 'Montserrat', Sans-Serif;
  padding-top: 80px;
  font-size: 50px;
  animation: fadeY 1s ease-out forwards;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: .5rem;
  scroll-snap-type: x mandatory;
}

.carousel .caro {
  flex: 0 0 auto;
  color: red;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  transition: transform .3s, box-shadow .3s;
}

.carousel .caro.active {
  transform: scale(1.2);
  box-shadow: 0 4px 12px rgba(0,0,0,.5);
}

strong {
  color: red;
}

.tsaya {
  font-family: 'Montserrat', Sans-Serif;
  font-size: 30px;
  border: 5;
  background: red;
  border-radius: 20px;
  width: 70%;
  text-align: center;
}

.tsaya .saya {
  color: white;
}

.teksinfo {
  font-family: 'Montserrat', Sans-Serif;
  font-size: 30px;
}

.waku {
  font-family: 'Montserrat', Sans-Serif;
  font-size: 30px;
  border: 5;
  background: red;
  border-radius: 20px;
  width: 65%;
  text-align: center;
}

.waku .wa {
  color: white;
}

.popup {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a754;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 100;
}

form {
  background: red;
  width: 70%;
  padding: 10px;
  margin: 40px;
  font-family: 'Montserrat', Sans-Serif;
  text-align: center;
  border-radius: 20px;
}

input {
  background: white;
  border-radius: 5px;
}

button {
  background: white;
  border-radius: 5px;
}